<div >
<img  class="responsive-img z-depth-3" src="../../assets/images/46151231.jpeg">
</div>
<!-- //Benefits section -->
    
<div class="container mt-4">
    <div class="row">
  <div class=" d-flex justify-content-center benifits-head" >
    <h1 class="benifit-heading">BENEFITS</h1>
  </div>
    </div>
  <!-- //card1 -->
  <div class="cards">
    <div class="card d-flex justify-content-center" style="width: 18rem;">
      <h1 class="text-center card-heading">Save Time</h1>
      <div class="card-body">
          <ul class="card-text display-5">
            <li>Wave goodbye to a ‘to-do’ list full of invoices, emails, paper attendance sheets, and website content updates. The extra time you shave off your daily chores can be used to drum-up new leads and partnerships.</li>
          </ul>
      </div>
    </div>
    <!-- //card2 -->
    <div class="card d-flex justify-content-center" style="width: 25rem;">
      <h1 class="text-center card-heading">Be scalable</h1>
      <div class="card-body">
        <ul class="card-text ">
          <li>Size needn’t matter — you can double your operations with a scalable course management tool.</li>
         
        </ul>
      </div>
    </div>
    <!-- //card3 -->
    <div class="card d-flex justify-content-center" style="width: 18rem;">
      <h1 class="text-center card-heading">Large Corporations</h1>
      <div class="card-body">
        <ul class="card-text">
          <li>who provide and track the learning journeys of their internal staff.</li>

        </ul>
      </div>
    </div>

  </div>
    </div>
  